.login-container {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    .login-mask {
        position: fixed;
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 50px;
        background-color: rgba($color: #333, $alpha: .1);
        box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .login-form {
            text-align: center;
            width: 400px;
            background-color: rgba($color: #e9f1f6, $alpha: .8);
            padding: 20px;
            border-radius: 10px;

            img {
                width: 150px;

            }

            h1 {
                font-size: 36px;
                padding: 10px;
            }
        }
    }
}